<div class = "portfolio" ng-controller = "ManagePortfolioCtrl">
    <div class = "portfolio-title"> Manage Portfolio </div>

    <div class = "portfolio-projects">
        <div class = "new-project">
            <form ng-submit = "newProject()">
                <div class = "portfolio-input">
                    Site Name: <input type = "text" ng-model = "siteName" required>
                </div>
                <div class = "portfolio-input">
                    Site Address: <input type = "text" ng-model = "siteAddress" required>
                </div>
                <div class = "portfolio-input">
                    One Liner: <input type = "text" ng-model = "description" required>
                </div>
                <div class = "portfolio-input">
                    More Information: <input type = "text" ng-model = "information" required>
                </div>
                <div class = "portfolio-input">
                    <button type = "submit">Save Project</button>
                </div>
            </form>

        </div><div class = "new-project">
            <img ng-src = "../img/BuyABoat.jpg" class = "new-project-img">
            <h2 class = "project-text"><span class = "project-text-mod">{{siteName}}:<br />{{description}}</span></h2>
        </div>


    </div>


    <div class = "portfolio-projects">
        <div class = "portfolio-project" ng-repeat = "project in recentProjects">
            <img ng-src = "../img/BuyABoat.jpg" class = "project-image">
            <h2 class = "project-text"><span class = "project-text-mod">{{project.siteName}}:<br />{{project.description}}</span></h2>
        </div>
    </div>

</div>