<div>

<button ng-click = "login()">Test</button>


<button ng-click = "checkSession()">Check Session</button>

<button ng-click = "signUp()">Sign Up</button>

<button ng-click = "logoutUser()">Logout</button>

    <button ng-click = "middleware()">Middleware</button>
    <input placeholder="{{username}}"> {{username}}
    <input ng-model="username">
<!--
<p>This is the partial for view 2. {{testModel}}</p> {{testModel}}

</div>
    <form name="myForm">

        <jb-form-input type = 'multicheckbox' label="Choose one" ng-model = "multiCheck" jb-required="3"></jb-form-input>
        <jb-form-input name = "input" ng-model = "userType" jb-required></jb-form-input>
		<jb-form-input ng-model = "userType" jb-required></jb-form-input>
		<!--<ui-form-input ng-model = "userType" ui-required></ui-form-input>
		<ui-form-input type = "multicheckbox" label = "choose one" ng-model = "multiCheck" ui-required="1"></ui-form-input>
        userType = {{userType}}<br>
        myForm.input.$valid = {{myForm.input.$valid}}<br>
        myForm.input.$error = {{myForm.input.$error}}<br>
        myForm.$valid = {{myForm.$valid}}<br>
        myForm.$error.required = {{!!myForm.$error.required}}<br>
    </form>
 
	<div class = "control-group input-append">
		<input type="text" placeholder = "Time" ng-model="timepicker.time" as-time-picker>
		<button type="button" class="btn" data-toggle="timepicker"><i class="icon-time"></i></button>
	</div>
	
	<div class="control-group input-append">
     <input type="text" ng-model="datepicker.date" data-date-format="dd/mm/yyyy" as-date-picker>
     <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
 </div>
-->
</div>



