<div ng-controller="SignInCtrl">

	<div ng-show="!loggedIn">
		<h1 ng-show="signingIn">Sign In</h1>
		<h1 ng-show="!signingIn">Sign Up</h1>

		<span class="signin-linksp_an" ng-click="showSignIn()" ng-show="!signingIn">Sign In</span>
		<span class="signin-linksp_an" ng-click="showSignUp()" ng-show="signingIn">Sign Up</span>
		
		<br />
		
		<form name="login-form" ng-submit="signIn()" ng-show="signingIn" autocomplete="off">
			<input required type="text" ng-model="user.username" /><br>
			<input required type="password" ng-model="user.pw" /><br>
			<button type="submit">Sign in</button>
		</form>

		<form name="signup-form" ng-submit="signUp()" ng-show="!signingIn" autocomplete="off">
			<input required type="text" ng-model="user.username" /><br>
			<input required type="password" ng-model="user.pw" /><br>
			<button type="submit">Sign up</button>
		</form>
	</div>
	
	<div class="alert alert-error" ng-show="errMsg" ng-bind="errMsg"></div>
	
	<div ng-show="loggedIn">
		Logged in as <span ng-bind="userName"></span>
		<button ng-click="deleteUser()">Delete User</button>
	</div>

	<button ng-click="logOut()" ng-show="loggedIn">Log out</button>
	
</div>