.header-box{
  height: 50px;
  width: 50px;
  border: 2px solid black;
  display: block;
  vertical-align: middle;
}

.first-box{
}

.header-surround{
  width: 100px;
  border: 2px solid black;
  height: 100%;
  vertical-align: middle;
}