@import "portfolio.less";

.new-project{
  .border-box-mixin;
  width:50%;
  height: 100%;
  display: inline-block;
  border: 1px solid black;
  position: relative;
}

.portfolio-input{
  width: 100%;
}

.new-project-img{
  height:100%;
  width:100%;
}